.dialog-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #777;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dialog {
  background-color: #fff;
  max-height: 500px;
  max-width: 350px;
  display: flex;
  flex-direction: column;

  &__header {
      background-color: #ddd;
      display: flex;
  }

  &__header-title-container {
  }

  &__header-title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 230px;
  }

  &__header-button {
    width: 200px;
  }

  &__content {
    
    display: flex;
  }

  &__content-block {
      &_left {
          width: 30%;
          border-right: 1px solid #ccc;
      }

      &_right {
          width: 70%;
          max-height: 300px;
          overflow-y: scroll;

      }
  }

  &__footer {
      background-color: #ddd;
      text-align: center;
      word-break: break-word;
  }
}

.content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 500px;
  width: 100%;
}